:root {
  --light-bg: hsl(0, 0%, 98%);
  --light-disabled: hsl(236, 33%, 92%);
  --light-disabled-text: hsl(236, 9%, 61%);
  --light-text: hsl(235, 19%, 35%);
  --light-theme: #fff;
  --light-mobile-banner: url(../../images/bg-mobile-light.jpg);
  --light-desktop-banner: url(../../images/bg-desktop-light.jpg);
  --dark-bg: hsl(235, 21%, 11%);
  --dark-disabled: hsl(237, 14%, 26%);
  --dark-disabled-text: hsl(234, 11%, 52%);
  --dark-text: hsl(234, 39%, 85%);
  --dark-theme: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --dark-mobile-banner: url(../../images/bg-mobile-dark.jpg);
  --dark-desktop-banner: url(../../images/bg-desktop-dark.jpg);
  --primary: hsl(220, 98%, 61%);
  --check-bg-color: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  --bg-color: var(--light-bg);
  --disabled-color: var(--light-disabled);
  --disabled-text-color: var(--light-disabled-text);
  --text-color: var(--light-text);
  --theme-color: var(--light-theme);
  --mobile-banner: var(--light-mobile-banner);
  --desktop-banner: var(--light-desktop-banner);
}

:root.dark-mode {
  --bg-color: var(--dark-bg);
  --disabled-color: var(--dark-disabled);
  --disabled-text-color: var(--dark-disabled-text);
  --text-color: var(--dark-text);
  --theme-color: var(--dark-theme);
  --mobile-banner: var(--dark-mobile-banner);
  --desktop-banner: var(--dark-desktop-banner);
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  background: var(--bg-color);
  color: var(--text-color);
}

main {
  margin-bottom: 2rem;
}

header {
  height: 30vh;
  padding: 3rem 1.5rem 0 1.5rem;
  background-image: var(--mobile-banner);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fefefe;
}
header .header-content {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin: 0 auto;
}
header .header-content .title {
  letter-spacing: 5px;
}

@media screen and (min-width: 800px) {
  header {
    background-image: none;
    background-image: var(--desktop-banner);
  }
}
.todo-list {
  position: relative;
  max-width: 500px;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 3rem;
  margin-top: -6rem;
}
.todo-list form,
.todo-list .todo-item,
.todo-list .todo-settings,
.todo-list .mobile-todo-filters {
  background: var(--theme-color);
  padding: 1.2rem;
}
.todo-list form {
  display: flex;
  width: 100%;
  border-radius: 5px;
  border: none;
  margin-bottom: 1rem;
}
.todo-list form .icon {
  display: inline-block;
  margin-right: 1rem;
  width: 1.2em;
  height: 1.2em;
  border-radius: 30px;
  border: 1px solid var(--disabled-color);
}
.todo-list form .todo-input {
  flex: 1 1 auto;
  border: none;
  color: var(--light-grayish-blue);
  background: transparent;
}
.todo-list form .todo-input:focus {
  outline: none;
}
.todo-list .todo-body {
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 1.2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.todo-list .todo-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  color: var(--disabled-text-color);
}
.todo-list .clear-completed {
  cursor: pointer;
}
.todo-list .clear-completed:hover {
  color: var(--text-color);
}
.todo-list:empty {
  display: none;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--disabled-color);
  position: relative;
  color: var(--text-color);
  /* === Custom checkbox animation === */
  /* === Custom checkbox animation === */
}
.todo-item .todo-text {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex: 0 1 auto;
  max-width: 87%;
}
.todo-item .todo-text .checkbox__input {
  flex: 0 0 auto;
}
.todo-item .todo-text .label {
  word-break: break-word;
}
.todo-item .checkbox__input {
  display: inline-grid;
  grid-template-areas: "checkbox";
  width: 1.2em;
  height: 1.2em;
  border-radius: 30px;
  border: 1px solid var(--disabled-color);
  text-align: center;
  margin-right: 1rem;
  /* Hide the browser's default checkbox, keep it accessible by the keyboard */
}
.todo-item .checkbox__input > * {
  grid-area: checkbox;
}
.todo-item .checkbox__input input {
  opacity: 0;
  /* Relative to the font-size applied to the li */
  width: 1em;
  height: 1em;
  cursor: pointer;
  border-radius: 30px;
}
.todo-item .checkbox__checkIcon svg {
  transition: transform 2s ease-in 25ms;
  transform: scale(0);
  transform-origin: bottom left;
}
.todo-item .checkbox__input input:checked + .checkbox__checkIcon svg {
  transform: scale(1);
}
.todo-item.isCompleted {
  color: var(--disabled-text-color);
}
.todo-item.isCompleted .checkbox__input {
  background: var(--check-bg-color);
}
.todo-item .checkbox__input input:focus + .checkbox__checkIcon {
  box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor;
  /* Same color as the li */
}
.todo-item .checkbox__input input:checkbox:disabled + .checkbox__checkIcon {
  color: var(--disabled-color);
}
.todo-item .delete-todo {
  cursor: pointer;
  width: 1em;
  height: 1em;
}
.todo-item.disabled {
  color: var(--disabled-color);
}

.empty-stat {
  text-align: center;
  display: none;
}
.empty-stat .empty-stat-title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.empty-stat .empty-stat-message {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.todo-list:empty + .empty-stat {
  display: block;
}

.todo-info {
  text-align: center;
  color: var(--disabled-text-color);
}

.hide {
  display: none;
}

.todo-filters {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}
.todo-filters > * {
  margin-right: 0.9rem;
}
.todo-filters > *:last-child {
  margin-right: 0;
}

.mobile-todo-filters {
  border-radius: 5px;
  color: var(--disabled-text-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.desktop-todo-filters {
  display: none;
}
.desktop-todo-filters > *:hover {
  color: var(--text-color);
}

@media screen and (min-width: 800px) {
  .mobile-todo-filters {
    display: none;
  }

  .desktop-todo-filters {
    display: flex;
  }
}
.mobile-todo-filters > *.active,
.desktop-todo-filters > *.active {
  color: var(--primary);
}

@media (prefers-color-scheme: dark) {
  :root:not([data-light-mode=true]) {
    --bg-color: var(--dark-bg);
    --disabled-color: var(--dark-disabled);
    --disabled-text-color: var(--dark-disabled-text);
    --text-color: var(--dark-text);
    --theme-color: var(--dark-theme);
    --mobile-banner: var(--dark-mobile-banner);
    --desktop-banner: var(--dark-desktop-banner);
  }

  /* Override dark mode with light mode if the user decides to swap */
  :root.light-mode {
    --bg-color: var(--light-bg);
    --disabled-color: var(--light-disabled);
    --disabled-text-color: var(--light-disabled-text);
    --text-color: var(--light-text);
    --theme-color: var(--light-theme);
    --mobile-banner: var(--light-mobile-banner);
    --desktop-banner: var(--light-desktop-banner);
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}

/*# sourceMappingURL=styles.css.map */
