*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  background: #fafafa;
  color: #484b6a;
}

main {
  margin-bottom: 2rem;
}

header {
  height: 30vh;
  padding: 3rem 1.5rem 0 1.5rem;
  background-image: url(../../images/bg-mobile-light.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fafafa;
}
header .header-content {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin: 0 auto;
}
header .header-content .title {
  letter-spacing: 5px;
}

@media screen and (min-width: 800px) {
  header {
    background-image: none;
    background-image: url(../../images/bg-desktop-light.jpg);
  }
}
.todo-list {
  position: relative;
  max-width: 500px;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 3rem;
  margin-top: -6rem;
}
.todo-list form,
.todo-list .todo-item,
.todo-list .todo-settings,
.todo-list .mobile-todo-filter {
  background: #fff;
  padding: 1.2rem;
}
.todo-list form {
  display: flex;
  width: 100%;
  border-radius: 5px;
  border: none;
  margin-bottom: 1rem;
}
.todo-list form .icon {
  display: inline-block;
  margin-right: 1rem;
  width: 1.2em;
  height: 1.2em;
  border-radius: 30px;
  border: 1px solid #e4e5f1;
}
.todo-list form .todo-input {
  flex: 1 1 auto;
  border: none;
  color: #9394a5;
}
.todo-list form .todo-input:focus {
  outline: none;
}
.todo-list .todo-body {
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 1.2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.todo-list .todo-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  color: #9394a5;
}
.todo-list .mobile-todo-filter,
.todo-list .desktop-todo-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.todo-list .mobile-todo-filter > *,
.todo-list .desktop-todo-filter > * {
  margin-right: 0.9rem;
}
.todo-list .mobile-todo-filter > *:last-child,
.todo-list .desktop-todo-filter > *:last-child {
  margin-right: 0;
}
.todo-list .mobile-todo-filter {
  border-radius: 5px;
  color: #9394a5;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.todo-list .desktop-todo-filter {
  display: none;
  cursor: pointer;
}
.todo-list .desktop-todo-filter > *:hover {
  color: #484b6a;
}
@media screen and (min-width: 800px) {
  .todo-list .mobile-todo-filter {
    display: none;
  }
  .todo-list .desktop-todo-filter {
    display: flex;
  }
}
.todo-list .clear-todos {
  cursor: pointer;
}
.todo-list .clear-todos:hover {
  color: #484b6a;
}
.todo-list:empty {
  display: none;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #e4e5f1;
  position: relative;
  color: #484b6a;
  /* === Custom checkbox animation === */
  /* === Custom checkbox animation === */
}
.todo-item .todo-text {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex: 0 1 auto;
  max-width: 87%;
}
.todo-item .todo-text .checkbox__input {
  flex: 0 0 auto;
}
.todo-item .todo-text .label {
  word-break: break-word;
}
.todo-item .checkbox__input {
  display: inline-grid;
  grid-template-areas: "checkbox";
  width: 1.2em;
  height: 1.2em;
  border-radius: 30px;
  border: 1px solid #e4e5f1;
  text-align: center;
  margin-right: 1rem;
  /* Hide the browser's default checkbox, keep it accessible by the keyboard */
}
.todo-item .checkbox__input > * {
  grid-area: checkbox;
}
.todo-item .checkbox__input input {
  opacity: 0;
  /* Relative to the font-size applied to the li */
  width: 1em;
  height: 1em;
  cursor: pointer;
  border-radius: 30px;
}
.todo-item .checkbox__checkIcon svg {
  transition: transform 2s ease-in 25ms;
  transform: scale(0);
  transform-origin: bottom left;
}
.todo-item .checkbox__input input:checked + .checkbox__checkIcon svg {
  transform: scale(1);
}
.todo-item.isCompleted {
  background: #fafafa;
  color: #e4e5f1;
}
.todo-item.isCompleted .checkbox__input {
  background: linear-gradient(#57ddff, #c058f3);
}
.todo-item .checkbox__input input:focus + .checkbox__checkIcon {
  box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor;
  /* Same color as the li */
}
.todo-item .checkbox__input input:checkbox:disabled + .checkbox__checkIcon {
  color: var(--disabled);
}
.todo-item .delete-todo {
  cursor: pointer;
  width: 1em;
  height: 1em;
}
.todo-item.disabled {
  color: var(--disabled);
}

.empty-stat {
  text-align: center;
  display: none;
}
.empty-stat .empty-stat-title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.empty-stat .empty-stat-message {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.todo-list:empty + .empty-stat {
  display: block;
}

.todo-info {
  text-align: center;
  color: #9394a5;
}

:root {
  --disabled: #959495;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}

/*# sourceMappingURL=styles.css.map */
