@use 'variables';

*,
:after,
:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
}

body {
	font-size: 18px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: normal;
	background: variables.$background;
	color: variables.$text-color;
}

main {
	margin-bottom: 2rem;
}
