:root {
	// Light theme
	--light-bg: hsl(0, 0%, 98%);
	--light-disabled: hsl(236, 33%, 92%);
	--light-disabled-text: hsl(236, 9%, 61%);
	--light-text: hsl(235, 19%, 35%);
	--light-theme: #fff;
	--light-mobile-banner: url(../../images/bg-mobile-light.jpg);
	--light-desktop-banner: url(../../images/bg-desktop-light.jpg);

	// Dark theme
	--dark-bg: hsl(235, 21%, 11%);
	--dark-disabled: hsl(237, 14%, 26%);
	--dark-disabled-text: hsl(234, 11%, 52%);
	--dark-text: hsl(234, 39%, 85%);
	--dark-theme: hsl(235, 24%, 19%);
	--light-grayish-blue: hsl(234, 39%, 85%);
	--dark-mobile-banner: url(../../images/bg-mobile-dark.jpg);
	--dark-desktop-banner: url(../../images/bg-desktop-dark.jpg);

	--primary: hsl(220, 98%, 61%);
	--check-bg-color: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

	--bg-color: var(--light-bg);
	--disabled-color: var(--light-disabled);
	--disabled-text-color: var(--light-disabled-text);
	--text-color: var(--light-text);
	--theme-color: var(--light-theme);
	--mobile-banner: var(--light-mobile-banner);
	--desktop-banner: var(--light-desktop-banner);
}

*,
:after,
:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
}

body {
	font-size: 18px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: normal;
	background: var(--bg-color);
	color: var(--text-color);
}

main {
	margin-bottom: 2rem;
}
