@use "variables";

.todo-list {
	position: relative;
	max-width: 500px;
	width: 85%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 2rem;
	margin-top: -6rem;

	form,
	.todo-item,
	.todo-settings,
	.mobile-todo-filter {
		background: #fff;
		padding: 1.2rem;
	}

	form {
		display: flex;
		width: 100%;
		border-radius: 5px;
		border: none;
		margin-bottom: 1rem;

		.icon {
			display: inline-block;
			margin-right: 1rem;
			width: 1.2em;
			height: 1.2em;
			border-radius: 30px;
			border: 1px solid variables.$very-light-grayish-blue;
		}

		.todo-input {
			flex: 1 1 auto;
			border: none;
			color: variables.$dark-grayish-blue;

			&:focus {
				outline: none;
			}
		}
	}

	.todo-body {
		// Make border-radius works, see: https://stackoverflow.com/a/53964887
		overflow: hidden;
		border-radius: 5px;

		margin-bottom: 1.2rem;
		// Shadow source: https://getcssscan.com/css-box-shadow-examples
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	}

	.todo-settings {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 0.9rem;
		color: variables.$dark-grayish-blue;
	}

	.mobile-todo-filter {
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
		border-radius: 5px;
		color: variables.$dark-grayish-blue;
		// Shadow source: https://getcssscan.com/css-box-shadow-examples
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

		& > *:hover {
			color: variables.$primary;
		}

		.all,
		.active {
			margin-right: 1rem;
		}
	}

	.desktop-todo-filter {
		display: none;
	}

	&:empty {
		display: none;
	}
}

.todo-item {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	// Remove the animation of adding a 1px
	border-bottom: 1px solid variables.$very-light-grayish-blue;
	position: relative;
	color: variables.$very-dark-grayish-blue;

	.todo-text {
		display: flex;
		align-items: center;
		cursor: pointer;
	}

	.checkbox__input {
		// The default checkbox and the custom checkbox are overlapping
		// This technique is the modern replacement for position: absolute
		display: inline-grid;
		grid-template-areas: 'checkbox';
		> * {
			grid-area: checkbox;
		}

		width: 1.2em;
		height: 1.2em;
		border-radius: 30px;
		border: 1px solid variables.$very-light-grayish-blue;
		text-align: center;
		margin-right: 1rem;

		/* Hide the browser's default checkbox, keep it accessible by the keyboard */
		input {
			opacity: 0;
			/* Relative to the font-size applied to the li */
			width: 1em;
			height: 1em;
		}
	}

	/* === Custom checkbox animation === */

	.checkbox__checkIcon svg {
		transition: transform 2s ease-in 25ms;
		transform: scale(0);
		transform-origin: bottom left;
	}
	.checkbox__input input:checked + .checkbox__checkIcon svg {
		transform: scale(1);
	}
	/* === Custom checkbox animation === */

	&.isCompleted {
		& {
			background: variables.$very-light-gray;
			color: variables.$very-light-grayish-blue;
		}

		.checkbox__input {
			background: variables.$check-background;
		}
	}

	.checkbox__input input:focus + .checkbox__checkIcon {
		box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor; /* Same color as the li */
	}

	.checkbox__input input:checkbox:disabled + .checkbox__checkIcon {
		color: var(--disabled);
	}

	.delete-todo {
		cursor: pointer;
		width: 1em;
		height: 1em;
	}

	&.disabled {
		color: var(--disabled);
	}
}

.empty-stat {
	text-align: center;
	display: none;

	.empty-stat-title {
		font-size: 1.5rem;
		margin-bottom: 2rem;
	}

	.empty-stat-message {
		font-size: 1.1rem;
		margin-bottom: 2rem;
	}
}

.todo-list:empty + .empty-stat {
	display: block;
}
