$very-light-gray: hsl(0, 0%, 98%);
$very-light-grayish-blue: hsl(236, 33%, 92%);
$light-grayish-blue: hsl(233, 11%, 84%);
$dark-grayish-blue: hsl(236, 9%, 61%);
$very-dark-grayish-blue: hsl(235, 19%, 35%);

:root {
	--disabled: #959495;
}

*,
:after,
:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
}

body {
	font-size: 18px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: normal;
}

header {
	width: 100%;
	height: 25vh;
	background-image: url(/images/bg-mobile-light.jpg);
	font-size: 1.5rem;
	color: $very-light-gray;

	.header-content {
		display: flex;
		width: 100%;
		height: 100%;
		justify-content: space-between;
		padding: 3rem 1rem;
	}
}

.todo-list {
	width: 100%;
	margin-bottom: 2rem;

	&:empty {
		display: none;
	}
}

li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.2rem 0.5rem;
	// Remove the animation of adding a 1px
	border: 1px solid transparent;
	font-size: 2rem;
	position: relative;
	color: #333;

	.todo-text {
		display: flex;
		align-items: center;
	}

	background-color: transparent;
	transition: background-color 2s ease-in;

	.checkbox__input {
		// The default checkbox and the custom checkbox are overlapping
		// This technique is the modern replacement for position: absolute
		display: inline-grid;
		grid-template-areas: 'checkbox';
		> * {
			grid-area: checkbox;
		}

		margin-right: 0.5rem;

		/* Hide the browser's default checkbox, keep it accessible by the keyboard */
		input {
			opacity: 0;
			width: 1em;
			height: 1em;
		}
	}

	.checkbox__control {
		display: inline-block;
		/* Relative to the font-size applied to the li */
		width: 1em;
		height: 1em;
		border-radius: 5px;
		border: 1px solid rgb(194, 191, 191);
	}

	/* === Custom checkbox animation === */

	.checkbox__control svg {
		transition: transform 2s ease-in 25ms;
		transform: scale(0);
		transform-origin: bottom left;
	}
	.checkbox__input input:checked + .checkbox__control svg {
		transform: scale(1);
	}
	/* === Custom checkbox animation === */

	&.isCompleted {
		transition: background-color 2s ease-in;
		background-color: #e7eded;
		border: 1px solid #d0d6d6;

		.checkbox__input {
			background-color: #3673c7cb;
		}
	}

	.checkbox__input input:focus + .checkbox__control {
		box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor; /* Same color as the li */
	}

	.checkbox__input input:checkbox:disabled + .checkbox__control {
		color: var(--disabled);
	}
	&.disabled {
		color: var(--disabled);
	}
}

.delete-todo {
	color: red;
	cursor: pointer;
}

.empty-stat {
	text-align: center;
	display: none;

	.empty-stat-title {
		font-size: 1.5rem;
		margin-bottom: 2rem;
	}

	.empty-stat-message {
		font-size: 1.1rem;
		margin-bottom: 2rem;
	}
}

.todo-list:empty + .empty-stat {
	display: block;
}

.attribution {
	font-size: 11px;
	text-align: center;
	a {
		color: hsl(228, 45%, 44%);
	}
}
